/*commons*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, .footer-bottom {
    background-color: #2c3e50;
}
#jumbotron, #about {
    background-color: #1abc9c;
}
.footer-top {
    background-color: #3a546d;
}
.star-box {
    line-height: 30px;
}



/*jumbotron*/
#jumbotron img {
    width: 100px;
}
#jumbotron .star-box::after, #jumbotron .star-box::before {
    content: "";
    width: 15%;
    height: 2px;
    display: inline-block;
    background-color: white;
    vertical-align: middle;
}
#jumbotron .jobs_list li {
    list-style: none;
}



/*portfolio*/
#portfolio .star-box::after, #portfolio .star-box::before {
    content: "";
    width: 15%;
    height: 2px;
    display: inline-block;
    background-color: black;
    vertical-align: middle;
}
#portfolio img {
    width: 100%;
}




/* ******debug***** */
.debug header {
    height: 50px;
}

.debug #about {
    height: 200px;
}
.debug .footer-top {
    height: 100px;
}
.debug .footer-bottom {
    height: 30px;
}
