/*commons*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, .footer-bottom {
    background-color: #2c3e50;
}
#jumbotron, #about {
    background-color: #1abc9c;
}
.footer-top {
    background-color: #3a546d;
}
.star-box {
    line-height: 30px;
}
.star-box::after,.star-box::before {
    content: "";
    width: 10%;
    height: 2px;
    display: inline-block;
    background-color: black;
    vertical-align: middle;
}
.star-box.white_color::after, .star-box.white_color::before {
    background-color: white;
}



/*jumbotron*/
#jumbotron img {
    width: 100px;
}

#jumbotron .jobs_list li {
    list-style: none;
}



/*portfolio*/
#portfolio img {
    width: 100%;
}



/*contact me*/
.btn-primary {
    border: none;
    background-color: #1abc9c;
}


/*footer*/
.footer-top i {
    height: 50px;
    width: 50px;
    line-height: 50px;
}
.footer-top a {
    color: #1abc9c;
}


/* ******debug***** */
.debug header {
    height: 50px;
}





